<hr>
<br><br>

<p id="notice"><%= notice %></p>

<br><br>
<hr>
<br><br>

<% @check_days.each{|k,v| %>
  <hr>
  <h3><%= k %> -- <%= link_to 'New Check', new_check_path %></h3><br>
  <table>
    <% v.each{|chck_set| %>
      <tbody>
        <tr>
          <td></td>
          <td><%= chck_set.title %></td>
          <td>
            <% if chck_set.completed_at != nil %>
            <center><strong>Done! on <%= chck_set.completed_at %></strong></center>
          <% else %>
            <center><%= button_to "Check It", {:controller => "checks", :action => "check_mark", :id => chck_set.id}, :method=>:put %></center>
          <% end %>
        </td>
        </tr>
      </tbody>
    <% } %>
  </table>
  <br>
<h3><%= link_to 'New Check', new_check_path %></h3>
  <br>
<% } %>

<br><br>
<hr>




